   <nav class="navbar navbar-expand-lg " style="background-color: #F6DDCC ">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#" style="color: #030100" > <img
                src="https://cdn-icons-png.flaticon.com/512/2802/2802838.png"
                alt="" width="60" height="60" routerLink="/app-pagina-inicio"> ReadMore</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" routerLink="/app-categorias">Categorias</a>
              </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" routerLink="/app-registro-libro">Registro Libro</a>
              </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" routerLink="/app-registro-admin">Registro Vendedor</a>
              </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" routerLink="/app-stock">Inventariado</a>
              </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" routerLink="/app-eventos">Eventos</a>
              </li>
            </ul>
          </div>
          <div>
            <button class="boton btn " routerLink="/app-inicio-sesion"
              style="background-color:#BE6134; font-size: small;">Iniciar
              Sesión</button>
          </div>
        </div>
      </nav>