<footer style="background-color:#F6DDCC ;">
    <div class="contenedor">
      <div class="tarjeta row justify-content-right">
        <h1 class="text" style="font-size: larger;">Contactanos</h1>
        <h4 class="text" style="font-size: medium;">
          <p> Dirección: Octavio Chacón Moscoso 1-98 <br>y Primera Transversal (Parque industrial)</p>
          <p>Correo Electrónico:
            <a href=»info@tecazuay.edu.ec»>info@tecazuay.edu.ec</a>
          </p>
        </h4>
      </div>
    </div>
  </footer>
