<header class="text-center" style="font-size:45px;"> <strong>Inicio Sesión</strong></header>

<body class="elemento" ba>
  <form ngNativeValidate style="text-align:center ;" method="post">
    <div class="mb-3">
      <img
        src="https://cdn-icons-png.flaticon.com/512/2698/2698175.png"
        width=150 height=150><br><br>
      <label for="exampleInputEmail1" class="destacado form-label">
        <font size="4">Usuario:</font>
      </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input #email class="text-center" id="txtcorreo" type="text" size="55"
        placeholder="Escriba su usuario" required>
    </div>
    
    <div class="mb-3">
      <label for="exampleInputPassword1" class="destacado form-label">
        <font size="4">Contraseña:</font>
      </label>&nbsp;&nbsp;&nbsp;
      <input #contra type="password" id="txtcontra" class="text-center" size="55" required>
    </div>
    <button type="submit" class="boton btn " style="background-color:#BE6134 ;">Ingresar</button><br><br>
    <label for="" style="color:#2E2F5E ;" routerLink="/app-registro-usuario"><u>Registrate aquí</u></label>
    
    
    
  </form>
  
  
</body>