.container {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  }
  
  nav {
    background-color: #F1D9CE;
    width: 200px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    border-bottom: 0px solid #ddd;
  }
  
  nav li a {
    display: block;
    padding: 10px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #ddd;
  }
  
  .content {
    padding: 20px;
  }
 
  