.elemento {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/deberes-15da1.appspot.com/o/WhatsApp%20Image%202023-03-01%20at%208.35.30%20PM.jpeg?alt=media&token=d2800f10-f611-41b8-8a4e-2b162c6cd9dc);
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    bottom: 0;
  }