<div class="contenedor">
<div class="row">
    <div class="col-sm-4">
      <div class="card"  >
        <div class="card-body ">
            <h5 style="text-align: center;">Formulario del Libro</h5><br>
          <form>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="subir" accept="image/*"  (change)="capturarImagen($event)" [(ngModel)]="libros.imagenPhat"  type="file"  name="Image"><br><br>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Título</label>
                <div class="col-sm-9">
                  <input type="text"  class="form-control" #titulo  placeholder="Escribe el título del libro" required>
                </div><br><br><br>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Autor</label>
                <div class="col-sm-9">
                  <input type="text"  class="form-control" #autor placeholder="Escribe el autor del libro" required>
                </div><br><br><br>
              </div>
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Editorial</label>
                <div class="col-sm-9">
                  <input type="text"  class="form-control" #editorial placeholder="Escribe la editorial al que pertenece" required>
                </div><br><br><br>
              </div>
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Categoria</label>
                <div class="col-sm-9">
                    <select  style="width: 270px; height: 40px;  border-radius: 5px; border-color:darkgray;" name= "categoriaSelec" #categoriaSelec id="inputGroupSelect01">
                        <option disabled selected hidden>Elija una opción</option>
                        <option value="fantasia">Fantasía</option>
                        <option value="suspenso">Suspenso</option>
                        <option value="historico" >Hístorico</option>
                        <option value="drama"  >Drama</option>
                      </select>
                </div><br><br><br>
              </div>
              
                <div class="form-group row">
                  <label for="staticEmail"  class="col-sm-3 col-form-label">Precio</label>
                  <div class="col-sm-9">
                    <input type="text" #precio class="form-control" placeholder="Escribe el precio del libro" required>
                  </div><br><br><br>
                </div>
                <div class="form-group row">
                  <label for="staticEmail" class="col-sm-3 col-form-label">Stock</label>
                  <div class="col-sm-9">
                    <input type="text"  #stock  class="form-control" placeholder="Escribe el número de libros disponibles" required>
                  </div><br><br><br>
                </div>
          </form>
          <button type="submit" class="boton btn-primary ">Registrarse</button>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;" >Tabla de Libros</h5><br>
          <form class="d-flex buscar" role="search">
            <input class="form-control me-1" (keyup)="onKeydownEvent($event, buscarlibro.value)" #buscarlibro type="search"  placeholder="Buscar" aria-label="Buscar"
              style=" border-color: #F1D9CE; height:40px;" />
            <button class="btn" (click)="buscarLibxNomb(buscarlibro.value)" type="submit">
              <img src="https://cdn-icons-png.flaticon.com/512/3686/3686871.png" style="width: 40px; height: 40px;">
            </button>
          </form>
          <table class="table" style="border-color: black; border: 2px;" *ngIf=bus>
            <thead>
              <tr style="text-align: center;">
                <th style="background-color: #F1D9CE;" scope="col">Portada</th>
                <th style="background-color: #F1D9CE;" scope="col">#</th>
                
                <th style="background-color: #F1D9CE;" scope="col">Titulo</th>
                <th style="background-color: #F1D9CE;" scope="col">Autor</th>
                <th style="background-color: #F1D9CE;" scope="col">Editorial</th>
                <th style="background-color: #F1D9CE;" scope="col">Categoria</th>
                <th style="background-color: #F1D9CE;" scope="col">Precio</th>
                <th style="background-color: #F1D9CE;" scope="col">Stock</th>
                <th style="background-color: #F1D9CE;" scope="col">Pdf</th>
                <th style="background-color: #F1D9CE;" scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody class="text-center" >
              <tr *ngFor="let libro of libros1">

                
                <td>
                  <a href="{{libro.imagenget}}" width=80 height=80>
                    <img  src="{{libro.imagenget}}" alt="No encontrada" width=80 height=80/>
                  </a>
                </td>
                <td>{{ libro.id }}</td>
                
                <td >{{ libro.titulo }}</td>
                <td>{{ libro.autor }}</td>
                <td>{{ libro.editorial }}</td>
                <td>{{ libro.categoria }}</td>
                <td>{{ libro.precio }}</td>
                <td>{{ libro.stock }}</td>
                <td>
                  <a href="{{libro.imagenURL}}">
                    <img src="https://cdn-icons-png.flaticon.com/512/337/337946.png" width=40 height=40 >
                  </a>
                </td>
                <td>
                  <button class=" btn btn-outline-primary" 
                  style="font-size: small;" (click)="editar(libro)"><i class="far fa-edit"></i></button><br>
                  <button class="btn btn-outline-danger " routerLink="/app-inicio-sesion"
                  style="font-size: small;"><i class="far fa-trash-alt"></i></button>
                </td>
              </tr>
            </tbody>
          </table>  
            <table class="table" style="border-color: black; border: 2px;" *ngIf=buscarval>
              <thead>
                <tr style="text-align: center;">
                  <th style="background-color: #F1D9CE;" scope="col">Imagen</th>
                  <th style="background-color: #F1D9CE;" scope="col">#</th>

                  <th style="background-color: #F1D9CE;" scope="col">Titulo</th>
                  <th style="background-color: #F1D9CE;" scope="col">Autor</th>
                  <th style="background-color: #F1D9CE;" scope="col">Editorial</th>
                  <th style="background-color: #F1D9CE;" scope="col">Categoria</th>
                  <th style="background-color: #F1D9CE;" scope="col">Precio</th>
                  <th style="background-color: #F1D9CE;" scope="col">Stock</th>
                  <th style="background-color: #F1D9CE;" scope="col">Pdf</th>
                  <th style="background-color: #F1D9CE;" scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody class="text-center">
                <tr *ngFor="let lib of libs">
                  <td><img src="{{lib.imagenget}}" alt="No encontrada" width=80 height=80/></td>
                  <td>{{ lib.id }}</td>

                  <td>{{ lib.titulo }}</td>
                  <td>{{ lib.autor }}</td>
                  <td>{{ lib.editorial }}</td>
                  <td>{{ lib.categoria }}</td>
                  <td>{{ lib.precio }}</td>
                  <td>{{ lib.stock }}</td>
                  <td>
                    <a href="{{lib.imagenURL}}">
                      <img src="https://cdn-icons-png.flaticon.com/512/337/337946.png" width=40 height=40 >
                    </a>
                  </td>
                  <td>
                    <button class=" btn btn-outline-primary mx-2 " style="font-size: small;" (click)="editar(lib)"><i class="far fa-edit"></i></button><br>
                    <button class="btn btn-outline-danger " style="font-size: small;"><i class="far fa-trash-alt"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
