.contenedor{
    margin: 20px;
}
.boton{
    border-radius: 5px;
    text-align: center;
    background-color:#BE6134; 
    font-size: medium;
    width: 110px; /* Para que no se rompa en dos líneas, y lo translade tal cual. */
    margin-left: 50%;
    transform: translateX(-50%);
  }
  